<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{database_name_here}}');

/** MySQL database username */
define('DB_USER', '{{username_here}}');

/** MySQL database password */
define('DB_PASSWORD', '{{password_here}}');

/** MySQL hostname */
define('DB_HOST', '{{dbhost_here}}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '~+|| 8do-6wok3+$&FZE-0u>][1_|DQGIraGgXoI6`Vm60U|,Z%l^-jKH.MgG_`k');
define('SECURE_AUTH_KEY',  'r?HCARh|9i]Gk0e$0kaT&DS5k#uz$2V.pUmI0$B-uNTpZuz+*NzF>t!Z)=h-w-GK');
define('LOGGED_IN_KEY',    '$N#nLc]+5]eg2W2a6r#V;Qh>-QnNn[d9rA&Cqu`h)$g?{>~wg@,`p|Q-H9e>#|!P');
define('NONCE_KEY',        'l=zEg[Sk{)&8CgDH4t^pC~s2U5hy/BExhRY`KE.P%axzY~gd}x&D1uZ=0M@v/bL/');
define('AUTH_SALT',        'H8JAOrbwZf$a|y~|op|.|+Qzgrs3MQ`Jq<A;W~F$7.T?P.492CdONPKN5I2|eN+8');
define('SECURE_AUTH_SALT', 'Bh@1),Gy^pGx`9gdgf@E_q3[/a#~8|ud^2%C0sL93D###hh+|%;qYB<m~-/(@kcZ');
define('LOGGED_IN_SALT',   'ZEnfXMI*b/~+upyN]!AV06Rv?L9^u|m:e9Y|hJ&7PE0/T7Q6N:&z+0Dwe-RFnd-5');
define('NONCE_SALT',       'X[{e|SwE8B&^TKAe+<gSg7Zi[fxpu|]pS`vkTL7e($0vYgP-&9CT[,[evX%=Lo1D');
/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
